<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lwcms.springdatasources.mapper.UserMapper">
<!--    添加用户-->
    <insert id="addUser" parameterType="org.lwcms.springdatasources.entry.User">
        insert into tb_user(user_login_name,user_password,user_create_time,user_name,user_type) values(#{user.user_login_name},#{user.user_password},sysdate(),#{user.user_name},#{user.user_type})
    </insert>
<!--   条件查询-->
    <select id="conditionQueryUser" parameterType="org.lwcms.springdatasources.dto.UserDTO" resultType="org.lwcms.springdatasources.entry.User">
        select * from tb_user
        <where>
            <if test="userDTO.user_login_name !=null and userDTO.user_login_name !='' ">
                and user_login_name=#{userDTO.user_login_name}
            </if>
            <if test="userDTO.user_type !=null and userDTO.user_type !='' ">
                and user_type=#{userDTO.user_type}
            </if>
            <if test="userDTO.user_name !=null and userDTO.user_name !='' ">
                and user_name=#{userDTO.user_name}
            </if>
        </where>
    </select>
<!--    用户登录-->
    <select id="login" parameterType="org.lwcms.springdatasources.entry.User" resultType="org.lwcms.springdatasources.entry.User">
        select * from tb_user where user_login_name=#{user.user_login_name} and user_password=#{user.user_password}
    </select>
</mapper> 